<a href="https://colab.research.google.com/github/dayanna-99/BIG_DATA/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
nombre = input("Cual es tu nombre")
print("Hola, mucho gusto:", nombre)

Cual es tu nombreDayanna Ordoñez
Hola, mucho gusto: Dayanna Ordoñez

In [11]:
import random
numero_persona = int(input("Dame un numero:"))
numero_maquina = random.randint(1,3)
print("El numero de la persona es:",numero_persona)
print("El numero de la maquina es:",numero_maquina)
if numero_persona == numero_maquina:
    print("Ha ganado la Maquina,MATRIX!!")
 else:
      print("Ha ganado la persona")

Dame un numero:1
El numero de la persona es: 1
El numero de la maquina es: 2
Ha ganado la persona

In [12]:
import random

numero_persona = int(input("Dame un número: "))

# La máquina decide par o impar
eleccion_maquina = random.choice(["par", "impar"])

print("Tu número es:", numero_persona)
print("La máquina eligió:", eleccion_maquina)

# Determinar si el número es par o impar
if numero_persona % 2 == 0:
    resultado = "par"
else:
    resultado = "impar"

print("El número es:", resultado)

# Ver quién gana
if resultado == eleccion_maquina:
    print("¡Ha ganado la máquina, MATRIX!")
else:
    print("¡Ha ganado la persona!")

Dame un número: 3
Tu número es: 3
La máquina eligió: impar
El número es: impar
¡Ha ganado la máquina, MATRIX!

In [16]:
alfabeto ='abcdefghijklmnopqrtuvwxyz'
mensaje = input("Introduce el mensaje a cifrar: ")
desplazamiento = 3
resultado = ""

for letra in mensaje:
    if letra.isalpha():
        base = ord('A') if letra.isupper() else ord('a')
        nueva_letra = chr((ord(letra) - base + desplazamiento) % 26 + base)
        resultado += nueva_letra
    else:
        resultado += letra

print("Mensaje cifrado:", resultado)

Introduce el mensaje a cifrar: Hola dayanna donde estas ?
Mensaje cifrado: Krod gdbdqqd grqgh hvwdv ?

In [1]:
import hashlib
data = input("Dame un texto:")
encode_data = data.encode('utf-8')
md5_hash = hashlib.md5()
md5_hash.update(encode_data)
hex_digest = md5_hash.hexdigest()
print(f"Original string: {data}")
print(f"MD5 hash: {hex_digest}")

Dame un texto:hola
Original string: hola
MD5 hash: 4d186321c1a7f0f354b297e8914ab240

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [4]:
import pandas as pd

ruta_archivo="/content/sample_data/california_housing_test.csv"
datos = pd.read_csv(ruta_archivo)
datos.sample(4)
datos.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [20]:
import pandas as pd
ruta_archivo ="/content/compras_semana.csv"
datos = pd.read_csv(ruta_archivo)
datos.sample(5)
datos['total'] = datos['precio'] * datos['cantidad']
total_compras = datos['total'].sum()
print("total de compra:", total_compras)

promedio_compras=datos['total'].mean()
print("promedio de compra:", promedio_compras)

mediana_compras = datos['total'].median()
print("mediana de compra:", mediana_compras)

compra_minima = datos['total'].min()
print("compra minima:", compra_minima)

compra_maxima = datos['total'].max()
print("compra maxima:", compra_maxima)

std=datos['total'].std()
print("desviacion estandar:", std)

print("registro conteo:", registro_conteo)

datos['total'].describe()

datos.describe()

total de compra: 44.699999999999996
promedio de compra: 4.47
mediana de compra: 3.55
compra minima: 2.4
compra maxima: 10.0
desviacion estandar: 2.6637692592765365
registro conteo: total
3.0     1
2.4     1
10.0    1
3.5     1
8.5     1
2.4     1
3.6     1
5.0     1
2.5     1
3.8     1
Name: count, dtype: int64

          precio   cantidad      total
count  10.000000  10.000000  10.000000
mean    2.970000   2.100000   4.470000
std     2.383298   1.449138   2.663769
min     0.800000   1.000000   2.400000
25%     1.275000   1.000000   2.625000
50%     2.250000   1.500000   3.550000
75%     3.725000   2.750000   4.700000
max     8.500000   5.000000  10.000000

In [21]:
import pandas as pd
ruta_archivo = "/content/peliculas_favoritas.json"

datos=pd.read_json(ruta_archivo)
datos

                titulo   año  puntuacion  duracion_minutos           genero
0  El viaje de Chihiro  2001         8.9               125        Animación
1     La vida es bella  1997         8.6               116            Drama
2         Pulp Fiction  1994         8.5               154           Crimen
3               Matrix  1999         8.7               136  Ciencia ficción
4         Forrest Gump  1994         8.8               142            Drama
5            Inception  2010         8.8               148  Ciencia ficción

In [22]:
datos.describe()

               año  puntuacion  duracion_minutos
count     6.000000    6.000000          6.000000
mean   1999.166667    8.716667        136.833333
std       5.980524    0.147196         14.288690
min    1994.000000    8.500000        116.000000
25%    1994.750000    8.625000        127.750000
50%    1998.000000    8.750000        139.000000
75%    2000.500000    8.800000        146.500000
max    2010.000000    8.900000        154.000000